$Primary-color: #ff0000d1;
@import "./constants/css-constants.scss";
body {
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
h1,
h4,
h3,
p {
  margin: 0;
  font-size: 12px;
  color: $secondary-font-color;
}
h4 {
  color: $primary-font-color;
  font-weight: 500;
}
h3 {
  color: $heading-color;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  display: inline-block;
}
ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}
ul li {
  float: left;
}
i {
  font-size: 1.7rem;
}
select {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  outline: 0;
}
.active-filter {
  color: $heading-color;
}
.App {
  width: 100%;
  height: 500px;
  .app-wrapper {
    background-color: $body-background-color;
    position: relative;
    height: 100vh;
    .app-header {
      width: 100%;
      padding-top: 35px;
      max-width: 95%;
      margin: 0 auto;
      .divider {
        height: 50px;
        width: 5px;
        border-right: 1px solid $border-color;
      }
    }
  }
}
